<!DOCTYPE html>
<html>
    <head>
        <title>João Alves | Fakebook</title>
        <meta charset="UTF-8">
        <meta name="description" content="Fakebook Website">
        <meta name="author" content="João Alves">
        <link rel="stylesheet" href="fakebook.css">
        <link rel="shortcut icon" href="https://www.facebook.com/images/fb_icon_325x325.png">
    </head>

    <body class="estrutura">
        <h1 class="titulo">
            <i>FAKEBOOK</i> &#128248;
        </h1>
        <div class="nav">
            <a class="active" href="#home">Home</a>
            <a href="#Photos">Photos</a>
            <a href="#Friends">Friends</a>
            <input type="text" placeholder="Search by name">
        </div>
        <div class="nome">João Alves</div>
        <img src="https://instagram.flis8-2.fna.fbcdn.net/v/t51.2885-15/e35/c0.120.960.960a/s480x480/75021333_109771317016067_6335987788339470780_n.jpg?tp=1&_nc_ht=instagram.flis8-2.fna.fbcdn.net&_nc_cat=111&_nc_ohc=qnjaoNKJtw8AX886jdM&ccb=7-4&oh=a2806639d73cee2aa45a502d9e33052e&oe=608A41D3&_nc_sid=7bff83">
        <br>
        <button class="addfriend">Add a Friend</button>
        <br>
        <p>&#127968; <strong>City:</strong> Porto</p>
        <p>&#8987; <strong>Age:</strong> 24</p>
        <p>&#127947; <strong>Hobby:</strong> Workout</p>
    </body>
</html>